@using JCore;
@model object
@{
    Layout = null;
}

<td>
    <span class="jh-span column-list-edit ">
        <a href="Modify/@Model?t=@ViewBag.t">@G.L["modify"]</a>
        <!--
        <a url="" href="javascript:void(0)" jh_node="jh_delete">@G.L["delete"]</a>
            -->
    </span>
</td>
</tr>