@using JCore;
@model System.Collections.Generic.Dictionary<TF, object>
@{
    Layout = null;
}

<td>
    <span>@Model[TF.value]</span>
    <span style="width: 30px;" class="jh-span column-list-edit"></span>
</td>