@using JCore;
@using Newtonsoft.Json.Linq;
@model JArray
@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="row ">

    <div class="col-xs-2 top-left"> <h3> &nbsp; 管理中心</h3></div>
    <div class="col-xs-10 top-right">
        <div class="pull-right"><div class="jh-height"></div>欢迎 登录 &nbsp; <a href="/AdminLogin/Logout" target="_top">退出</a></div>
        <div class="jh-height-lg jh-div-md2"></div>
        <ul class="nav nav-tabs">
            @{ for (int i = 0; i < Model.Count; ++i) {
                    JToken item = Model[i];
                    JToken subItem = item["sub"];
                    string selected = i == ViewBag.key ? "active" : "";
                <li class="@selected"><a href="javascript:void(0)" data-toggle="tab" jh_node="admin_nav" jh_arg="a=@subItem["action"]&t=@subItem["template"]&left=@item["left"]" >@item["title"]</a></li>
                }
            }
            @if(Session[G.companyid] == null) {
                <li class="pull-right admin_top_refresh"><button type="button" class="btn btn btn-default jh_button" jh_node="admin_refresh">刷新缓存</button></li>            
            }
        </ul>
    </div>

</div>