@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>
        Admin Center
    </title>
</head>

<frameset rows="70, *" frameborder="no" border="0" framespacing="0">
    <!-- top -->
    <frame src="AdminTop" scrolling="no" />

    <frameset cols="150, *" frameborder="no" border="0" framespacing="0">
        <!-- left -->
        <frame name="leftFrame" src="AdminLeft?left=MenuLeft1.json" />
        <!-- main -->
        <frame name="mainFrame" src="Info" />
    </frameset>

</frameset>

<noframes>
    <body>
        your web browser can't support frames
    </body>
</noframes>

</html>
