@using JCore;
@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<!-- panel -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@G.L["site_info"]</h3>
    </div>
    <div class="panel-body">

        <form class="form-horizontal jh-div-xxl-sub" role="form" method="post">

            <!---------- form-group ---------->
            <div class="form-group">
                <label class="col-xs-2 control-label">@G.L["site_version"]</label>
                <div class="col-xs-5 ">
                    <p class="form-control-static" >1.0</p>
                </div>
            </div>


        </form>


    </div>
</div>
