@using JCore;
@model System.Collections.Generic.Dictionary<TF, object>
@{
    Layout = null;
}

<td>
    <textarea class="form-control input-sm list-input" autocomplete="off">@Model[TF.value]</textarea>
    <span class="jh-span column-list-input"></span>
</td>