@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        hello
        <img src="/Test/GetImg" style="border-radius: 5px;" />
    </div>
</body>
</html>
