/*user center*/
.user-box {border-left: solid 1px transparent;}
.user-left { width:12%; padding: 10px 0; min-height: 380px;}
.user-left li > .nav-a{ border-radius: 0; margin: 0 -1px; z-index: 1;}
.user-right { width: 88%; padding-left: 20px; min-height: 450px; border-left: solid 1px transparent;}
.message-box-content {overflow-y: auto; overflow-x:hidden; height: 260px;}

/*register*/
.col-13 {width:13%}
.img-verify {height: 50px; margin-top: -10px;}


/*list*/
.list-top-pic { width: 90px; }
.list-icon { width: 30px;}
.list-good { width: 60px; }
.list-author { width: 146px;}
.list-num { width: 60px;}
.list-lastpost { width: 120px;}
.list-author, .list-num, .list-lastpost, .list-good { font-size:small}
.table .list-title { padding-top: 17px; padding-left:2px;}
.table .list-icon { padding-top:15px; padding-right:0; }
.table .list-good { padding-top:17px;  }
.table .list-divider { padding: 5px 31px; }
.table.text-muted td /* ,.table.table-dashed td*/ {border-top-style: dashed;}
.table.text-muted th {border-bottom-width: 1px; font-weight: normal;}
.list-sort.nav a{padding: 5px 15px;}
.list-sort.nav { position: absolute; margin: -4px 32px;}
.btn_comment {width: 50px;}
.btn_read {width: 10px; display: inline-block;}
.btn_good {width: 50px;}
.list-avatar-s {width:30px; height:30px; margin:3px 3px;}
.a-none:hover { text-decoration:none; }

.list-nav > li > a { padding: 5px 10px;}
.waterfall-item { padding: 5px 6px 10px;}
.waterfall-box {width: 100%; padding: 8px;}
.waterfall-box.img-thumbnail {max-width:100%; }
.waterfall-img-corner {position: absolute; width:35px;  margin-top: -3px; margin-left: -2px;}

/*topic*/
.floor {margin-bottom: 6px;}
.floor-body {padding-top:0; padding-bottom:0}
.floor-left { width: 18%}
.floor-left-avatar { max-height: 140px; width:100%; }
.floor-right, .floor-bottom { width: 82%}
.floor-right {min-height: 225px;}
.floor-top { border-bottom: dashed 1px; padding:0 0 5px; margin: 0 10px 10px 0; }
.floor-bottom-row { border-top: dashed 1px; padding:5px 0 0 ; margin: 20px 10px 0 0; }
.floor-locaton-a {position: absolute; margin-top: -55px;}
.floor-pic-small {width: 125px; height:120px; margin: 0 10px 10px;}
.floor-content { font-size: 16px; line-height:1.75; }
.jh_tab .float-right, .float-right { float: right; }
.jh_tab { border-bottom-style: dashed; }

.reply_floor_mini { position: relative; border-bottom: solid 1px; padding-bottom: 10px; margin: 15px;}
.reply_floor_mini dt { width: auto; }
.reply_floor_mini dd { margin-left: 40px; padding-right: 30px; }
.reply_floor_mini img { max-width: 470px; }

.table-dl { margin-bottom: 0;}
.table-dl > tbody > tr:first-child > td{ border: 0; }
.table-dl > tbody > tr > td, .table-dashed > tbody > tr > td{ border-top-style: dashed; }
.table-dl > tbody > tr > td:first-child{  text-align: right; }
/*--------- index ---------*/

/*headline*/
.headline .nav-a {padding-top: 7px; padding-bottom: 7px;}
.headline-left {width: 34%}
.headline-middle {width: 44%}
.headline-right {width: 22%}
.headline-right { border-right: solid 1px transparent;}
.headline-li { height: 18px; line-height:18px; overflow:hidden; }
.headline-left-announcement { margin-top: -30px; }
.headline-left-pic {width: 103%; height:300px}
.headline-left-pic-first {width: 95%; height:240px}
.headline-middle-large {height: 30px; line-height:30px; overflow:hidden}
.headline-middle-item {width: 340px; height:22px; overflow:hidden}

/*forum*/
.forum-container {padding: 0 15px;}
.forum-block {border: 1px solid transparent; border-radius: 5px; padding-left:7px}
.forum-block > .row { padding: 15px 0 25px 15px;}
.forum-block-left { width: 30%; padding-right:10px; }
.forum-block-right { width: 70%; }

/*boxshow*/
.boxshow-md {width: 37%;}
.boxshow-lg { width: 26%; padding: 0; }
.boxshow-md .full {height: 145px; margin-bottom: 10px;}
.boxshow-lg .full { height: 300px;}
.boxshow-bg {background-color:#000;}
.boxshow-bg, .boxshow-text {position: absolute; width: 94%; min-height: 30px; bottom: 10px; padding: 5px 5px 0 5px; color: #fff;}/*text and text-background*/
.boxshow-text {height: 22px; line-height: 22px; }
.boxshow-lg .boxshow-bg, .boxshow-lg .boxshow-text {bottom: 0; width: 238px; }
.boxshow a:hover > .boxshow-bg {background-color:#333;}

/*--------- /index ---------*/

/*edit*/
.edit-preview {min-height: 500px;}
.edit-cate {width: 13%}
.edit-advance {left: 675px;position: absolute;top: 7px;width: 50px; z-index: 1030;}
.quick-reply {margin-left: 15px;}
.quick-title {margin-left: 135px;}

.edit-imgthumb {width:100px}
.edit-imgthumb .img-thumbnail {width: 60px; height: 60px;}
.table .edit-desc { padding-top:15px; padding-right: 30px;}
.table .edit-edit {width:100px; padding-top:22px;}
.table .edit-edit span { cursor:pointer; }

/*--------- space ---------*/
.space-header-right-link { float: left; min-width:60px; text-align: center; line-height: 25px;}
.space-header-right-gutter { float: left; border-right: 1px solid; line-height: 25px;}

/*--------- people ---------*/
.people-nav { margin-top: 5px;}
.people-nav-li { float: left; min-width: 40px; margin-bottom: 10px; }
.people-nav-li-a {  padding:5px; }
.people-left {width: 20%;}
.people-right {width: 80%}
.people-block { padding: 10px; margin: 5px; border: solid 1px; width: 31%;}
.people-block-fans {position: absolute; top: 68px;}

/*--------- login ---------*/
.ico-qq, .ico-renren, .ico-sina, .ico-qzone, .ico-douban, .ico-taobao, .ico-baidu { background: url("../image/ico-account.png") no-repeat  ; cursor: pointer; display: inline-block;}
.ico-qzone { background-position: -105px 0; height: 20px; width: 20px;}
.ico-qzone:hover { background-position: -173px 0;}
.ico-qq { background-position: -105px -143px; height: 18px; width: 12px;}
.ico-qq:hover { background-position: -173px -143px;}
.ico-sina { background-position: -105px -97px; height: 20px; width: 20px;}
.ico-sina:hover { background-position: -173px -97px;}
.login-bar { width: 65px; margin-top: 16px; /*height: 20px;*/ }
.navbar-nav > li.login-bar > a { display: inline-block; }
.navbar-nav > li.login-bar > a:hover{ background-color: inherit; }

/*--------- atwho ---------*/
.atwho-view { position:absolute; top: 0; left: 0; display: none; margin-top: 18px; background: white; border: 1px solid #DDD; border-radius: 3px; box-shadow: 0 0 5px rgba(0,0,0,0.1); min-width: 120px; z-index: 3000;}
.atwho-view .cur { background: #3366FF; color: white;}
.atwho-view .cur small { color: white;}
.atwho-view strong { color: #3366FF;}
.atwho-view .cur strong { color: white; font:bold;}
.atwho-view ul { /* width: 100px; */ list-style:none; padding:0; margin:auto;}
.atwho-view ul li { display: block; padding: 5px 10px; border-bottom: 1px solid #DDD; cursor: pointer; /* border-top: 1px solid #C8C8C8; */}
.atwho-view small { font-size: smaller; color: #777; font-weight: normal;}

.atwho-input-div { margin-top: -20px; margin-bottom: 25px; }
.atwho-input-mini { height:33px; }
/*.atwho-input { color: #2fa4e7; }*/
.top-connect { border-top:0; border-radius: 0 0 4px 4px; }
body .edui-default .edui-editor {  border-radius: 4px 4px 0 0 ; }

.atshow-div { position: absolute; margin-top:-10px; }
.athide:hover { text-decoration: none; }
.atcontent { display: none;}


/*--------- hnec ---------*/
body {background:#f6f5f4; /*font-family: Simsun Arial; */}

/*top*/
.navbar-static-top li a, .navbar-static-top .navbar-brand { padding-top: 6px; padding-bottom: 6px; font-size: 14px;}
.navbar-static-top.navbar { min-height: 0; background: #686b78; border-bottom: 1px solid #686b78; margin-bottom:0px; }

/*menu*/
#menubar .navbar-default{background: #0059b4 ; border: 0; }
#menubar .nav > li{ width:105px; text-align: center; font-size: medium; border-left: solid 1px #444; margin: 1px;}
#menubar .nav > li:first-child{ border-left: 0;}
#menubar .navbar-nav > li > a { margin-bottom: 1px;  }


.header-row {margin-top:37px;}
.header-search {margin-top:20px;}
.header-search-btn {min-width: 20px;}

.header-breadcrumb { background: none; margin: -10px 0 10px  0;}

.hlist-left { width: 70%; padding-right:0; }
.hlist-left-body { min-height: 300px; padding-top: 5px; }
.hlist-right { width: 30%; }
.hlist-row { border-bottom: dashed 1px; padding-top: 10px; padding-bottom: 15px;}
.hlist-row-title { font-size: 20px;}
.hlist-row-img-div {float: left; margin-right: 10px;}
.hlist-row-img {width: 200px; height:150px;}

.hlist-row-baike { padding: 5px 0;}
.hlist-row-baike .hlist-row-title{ font-size: 16px; }
.text-red { color: red; }
.text-green { color: green; }

.hdocument-panel { min-height: 500px; }
.hdocument-title { font-size: 27px; font-weight: bold; }
.hdocument-content { line-height: 2; padding-left: 2px; }
.hdocument-time { padding-left: 20px;}

.company-row { float: left; width: 248px; padding: 20px 10px; min-height:147px; }
.company-row-pic { width: 120px; height: 60px; }

.park-row { float: left; width: 300px; margin: 1px 10px; }
.park-row-pic { width: 294px; height: 206px; }
.park-row-header { background-color: Blue; padding: 5px;}
.park-row-info { text-align: left;  margin-bottom: 5px;}


.hlist-item-left { width: 25%;  }
.hlist-item-right { width: 75%; padding-left:0; }
.hlist-item-left-nav  .panel + .panel { margin-top:-1px;}
.hlist-item-left-nav h4 a { text-decoration: none; }
.hlist-item-left-nav-li { margin-bottom: 5px; margin-left:10px;}

.hlist-item-row { float: left; width: 232px; padding: 0; margin: 5px; }
.hlist-item-row-pic { width: 100%; height: 200px; border-radius: 2px 2px 0 0; }
.hlist-item-body {padding-left: 0; padding-right:0;}

.human-resume table { background-color: #cccccc; border-collapse: separate; border-spacing: 1px; }

.headline-left-pic-large { width: 101%;  height:270px;}
.headline-left-announcement  {margin-top: 0;}
.headline-left-pic { height: 200px;}

.slide-out-div {width:120px; height:220px; padding:10px 10px 0; border: #4e7fbb 5px solid;  background:#FFF; z-index:9999; }
.slide-out-div div{ line-height:1.4; margin:15px 0; text-align:center; font-size:12px;}


/*--------- index ---------*/

/*footer*/
.footer-large { font-size: large}
.footer-friend { margin: 20px 0 10px; border-top: solid 1px #ccc ; padding-top: 20px;}
.a-muted a { color: #999;}
.footer-icon { vertical-align: top; }
.footer { border-top: solid 3px #e94545 ;}


/*menu*/
.menu-container{height: 160px; background: #fff; border-radius: 5px; margin-top: 40px;}
.menu-append{border: solid 1px #ccc; border-top:0; margin-top:-20px; height: 80px;}
.menu-append-div{position: absolute;}
.menu-append-div > ul{ list-style: outside none none; margin-top: 10px;}
.menu-append-div ul li {color: #333; float: left; font-size: 14px; line-height: 30px; list-style: outside none none; margin-left: 15px;}
.menu-append-div ul li a { color: #333; font-size: 14px; line-height: 30px;}
#menubar .nav .block {background: #ff9a2d none repeat scroll 0 0; display: none; height: 5px; left: 0; margin-left: 3px; overflow: hidden; position: absolute; top: -2px; width: 108px;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
     background-color: Transparent;
}

#menubar .dropdown-menu { min-width: 108px; padding-top: 0px ; }
#menubar .dropdown-menu > li > a{ padding: 14px 0; margin:0 10px; border-top:solid 1px #ccc; font-size: small; }
#menubar .dropdown-menu > li:first-child > a { border: 0; }
#menubar .dropdown-menu > li > a:hover { background-color: Transparent; color: #ff9a2d; }


/*box*/
.nav-tabs{ margin-bottom: 10px; }
.box-right-bottom1 {  height: 367px;}
.box-right-bottom2 {  height: 500px;}
.box{ margin: 0 5px; font-size: 13px; height:550px; }
.box .panel-body{ padding: 10px 5px;}
.box-left { width: 220px; }
.box-middle { width: 500px; }
.box-right { width: 280px; margin-left:-10px; }
.box .nav-a {padding-top: 7px; padding-bottom: 7px;}
.headline-middle-large {height: 30px;line-height: 30px;overflow: hidden; margin-top: 10px;}
.headline-middle-small {height: 60px;line-height: 20px;overflow: hidden; font-size: 12px;}
.box a, .box2 a{ color:#333 }
.box a:hover, .box2 a:hover, #body .nav-a:hover{ color:#ff9a2d; cursor: pointer; }
.active .nav-a { font-weight: bold;}
.box .category{ color:#f67301 }

.box2 { float: left;   padding: 0 20px; min-height: 350px;}
.box2-left { width: 400px; }
.box2-middle { width: 300px; }
.box2-right { width: 230px; }
.box2-left, .box2-middle{border-right: solid 1px #ddd; }
