@using JCore;
@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<br /><br /><br /><br />

<div class="row ">

    <div class="col-xs-2 "> </div>
    <div class="col-xs-10 ">

        <form jh_node="form_send" action="LoginSave" class="form-horizontal jh-div-xxl-sub" role="form" method="post">

            <!---------- form-group ---------->
            <div class="form-group">
                <div class="col-xs-10 ">
                    <h2>@G.L["login_center"]</h2>
                    <br />
                </div>
                <span class='help-block'></span>
            </div>

            <!---------- form-group ---------->
            <div class="form-group">
                <label class="col-xs-2 control-label">@G.L["login_password"]</label>
                <div class="col-xs-3 ">
                    <input type="text" name="uname" class="form-control" autocomplete="off" />
                </div>
                <span class='help-block'></span>
            </div>

            <!---------- form-group ---------->
            <div class="form-group">
                <label class="col-xs-2 control-label">@G.L["login_code"]</label>
                <div class="col-xs-1 img-code" jh_node="img_verify">
                    <img src="/AdminLogin/Image" /> 
                </div>
                <div class="col-xs-2 ">
                    <input type="text" name="code" class="form-control" autocomplete="off" />
                </div>
                <span class='help-block'></span>
            </div>


            <!---------- form-group ---------->
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-4 ">
                    <button type="submit" class="btn btn-primary btn-lg jh_button">@G.L["login"]</button>
                </div>
            </div>

        </form>

    </div>

</div>


