@using JCore;
@model System.Collections.Generic.Dictionary<TF, object>
@{
    Layout = null;
    object pic_path = Model[TF.value];
    string pic = Model[TF.name].ToString().Split('_')[0];
}

<div class="form-group">
    <label class="col-xs-2 control-label">@Model[TF.title]</label>
    <div class="col-xs-5 ">
        <div id='@pic' class="upload upload_one">
            <input name="form_picture[]" value="picid" type="hidden" />

            @if (pic_path != null) {
                <ul>
                    <li>
                        <img class="upload_image" src="/Upload/Show?pic=@pic_path" />
                        <input class="upload_file_id" value="1" />
                        <input class="upload_file_path" value="@pic_path" />
                    </li>
                </ul>
            }

        </div>
    </div>
    <span class='help-block'></span>
</div>

