@using WxhnecServer.Logics.Enums;
@model System.Collections.Generic.Dictionary<TF, object>
@{
    Layout = null;
}
<div class="form-group">
    <label class="col-xs-2 control-label">@Model[TF.title]</label>
    <div class="col-xs-5 ">
        <input name="@Model[TF.name]" value="@Model[TF.value]" type="@Model[TF.element]" class="form-control" autocomplete="off" />
    </div>
    <span class='help-block'></span>
</div>