@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
</head>
<body>
    <div> 
        <form action="Index" method="post" enctype="multipart/form-data">
            <input name="file" type="file" />
            <button type="submit">upload</button>
        </form>
    </div>
</body>
</html>
